{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-webpack",
    "transform-object-rest-spread"
  ],
  "env": {
    "server": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
